<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yidu.base.allMapper.AdminInfoMapper" >
  <resultMap id="BaseResultMap" type="com.yidu.base.allEntity.AdminInfo" >
    <id column="admin_id" property="adminId" jdbcType="INTEGER" />
    <result column="admin_name" property="adminName" jdbcType="VARCHAR" />
    <result column="admin_psw" property="adminPsw" jdbcType="VARCHAR" />
    <result column="admin_state" property="adminState" jdbcType="VARCHAR" />
    <result column="start_time" property="startTime" jdbcType="VARCHAR" />
    <result column="end_time" property="endTime" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from admininfo
    where admin_id = #{adminId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.yidu.base.allEntity.AdminInfo" >
    insert into admininfo (admin_id, admin_name, admin_psw, 
      admin_state, start_time, end_time
      )
    values (#{adminId,jdbcType=INTEGER}, #{adminName,jdbcType=VARCHAR}, #{adminPsw,jdbcType=VARCHAR}, 
      #{adminState,jdbcType=VARCHAR}, #{startTime,jdbcType=VARCHAR}, #{endTime,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.yidu.base.allEntity.AdminInfo" >
    update admininfo
    set admin_name = #{adminName,jdbcType=VARCHAR},
      admin_psw = #{adminPsw,jdbcType=VARCHAR},
      admin_state = #{adminState,jdbcType=VARCHAR},
      start_time = #{startTime,jdbcType=VARCHAR},
      end_time = #{endTime,jdbcType=VARCHAR}
    where admin_id = #{adminId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select admin_id, admin_name, admin_psw, admin_state, start_time, end_time
    from admininfo
    where admin_id = #{adminId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select admin_id, admin_name, admin_psw, admin_state, start_time, end_time
    from admininfo
  </select>
</mapper>