<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yidu.base.allMapper.adminorroleMapper" >
  <resultMap id="BaseResultMap" type="com.yidu.base.allEntity.adminorrole" >
    <id column="ar_id" property="arId" jdbcType="INTEGER" />
    <result column="role_id" property="roleId" jdbcType="INTEGER" />
    <result column="admin_id" property="adminId" jdbcType="INTEGER" />
    <result column="start_time" property="startTime" jdbcType="VARCHAR" />
    <result column="end_time" property="endTime" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from adminorrole
    where ar_id = #{arId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.yidu.base.allEntity.adminorrole" >
    insert into adminorrole (ar_id, role_id, admin_id, 
      start_time, end_time)
    values (#{arId,jdbcType=INTEGER}, #{roleId,jdbcType=INTEGER}, #{adminId,jdbcType=INTEGER}, 
      #{startTime,jdbcType=VARCHAR}, #{endTime,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.yidu.base.allEntity.adminorrole" >
    update adminorrole
    set role_id = #{roleId,jdbcType=INTEGER},
      admin_id = #{adminId,jdbcType=INTEGER},
      start_time = #{startTime,jdbcType=VARCHAR},
      end_time = #{endTime,jdbcType=VARCHAR}
    where ar_id = #{arId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select ar_id, role_id, admin_id, start_time, end_time
    from adminorrole
    where ar_id = #{arId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select ar_id, role_id, admin_id, start_time, end_time
    from adminorrole
  </select>
</mapper>