<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yidu.base.allMapper.DailyCommentsMapper" >
  <resultMap id="BaseResultMap" type="com.yidu.base.allEntity.DailyComments" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="daily_id" property="dailyId" jdbcType="INTEGER" />
    <result column="user_comments_A" property="userCommentsA" jdbcType="INTEGER" />
    <result column="user_comments_B" property="userCommentsB" jdbcType="INTEGER" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="start_time" property="startTime" jdbcType="TIMESTAMP" />
    <result column="end_time" property="endTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from dailycomments
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.yidu.base.allEntity.DailyComments" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into dailycomments (daily_id, user_comments_A, user_comments_B, 
      content, start_time, end_time
      )
    values (#{dailyId,jdbcType=INTEGER}, #{userCommentsA,jdbcType=INTEGER}, #{userCommentsB,jdbcType=INTEGER}, 
      #{content,jdbcType=VARCHAR}, #{startTime,jdbcType=TIMESTAMP}, #{endTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.yidu.base.allEntity.DailyComments" >
    update dailycomments
    set daily_id = #{dailyId,jdbcType=INTEGER},
      user_comments_A = #{userCommentsA,jdbcType=INTEGER},
      user_comments_B = #{userCommentsB,jdbcType=INTEGER},
      content = #{content,jdbcType=VARCHAR},
      start_time = #{startTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select id, daily_id, user_comments_A, user_comments_B, content, start_time, end_time
    from dailycomments
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, daily_id, user_comments_A, user_comments_B, content, start_time, end_time
    from dailycomments
  </select>
</mapper>