<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yidu.base.allMapper.DraftMapper" >
  <resultMap id="BaseResultMap" type="com.yidu.base.allEntity.Draft" >
    <id column="draft_id" property="draftId" jdbcType="INTEGER" />
    <result column="id" property="id" jdbcType="INTEGER" />
    <result column="draft_img" property="draftImg" jdbcType="VARCHAR" />
    <result column="draft_title" property="draftTitle" jdbcType="VARCHAR" />
    <result column="draft_content" property="draftContent" jdbcType="VARCHAR" />
    <result column="draft_label" property="draftLabel" jdbcType="VARCHAR" />
    <result column="start_time" property="startTime" jdbcType="TIMESTAMP" />
    <result column="end_time" property="endTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from draft
    where draft_id = #{draftId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.yidu.base.allEntity.Draft" >
    <selectKey resultType="java.lang.Integer" keyProperty="draftId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into draft (id,user_id, draft_imgTitle, draft_title, 
      draft_content_address,draft_type,draft_classification, draft_label, start_time, 
      end_time)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{draftImgTitle,jdbcType=VARCHAR}, #{draftTitle,jdbcType=VARCHAR}, 
      #{draftContentAddress,jdbcType=VARCHAR},#{draftType,jdbcType=VARCHAR},
      #{draftClassification,jdbcType=VARCHAR}, #{draftLabel,jdbcType=VARCHAR}, #{startTime,jdbcType=TIMESTAMP}, 
      #{endTime,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.yidu.base.allEntity.Draft" >
    update draft
    set id = #{id,jdbcType=INTEGER},
      draft_imgtitle = #{draftImgtitle,jdbcType=VARCHAR},
      user_id =#{userId,jdbcType=INTEGER},
      draft_imgTitle=#{draftImgTitle,jdbcType=VARCHAR},
      draft_content = #{draftContent,jdbcType=VARCHAR},
      draft_type=#{draftType,jdbcType=VARCHAR},
      draft_classification = #{draftClassification,jdbcType=VARCHAR},
      draft_label = #{draftLabel,jdbcType=VARCHAR},
      start_time = #{startTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP}
    where draft_id = #{draftId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    SELECT
    draft_id,user_id,draft_title,draft_imgTitle,draft_content_address,draft_type ,draft_classification,draft_label,start_time,end_time
    FROM  draft
    where draft_id = #{draftId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    SELECT
    draft_id,user_id,draft_title,draft_imgTitle,draft_content_address,draft_type ,draft_classification,draft_label,start_time,end_time
    FROM  draft
  </select>
</mapper>