<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yidu.base.allMapper.HistoryMapper" >
  <resultMap id="BaseResultMap" type="com.yidu.base.allEntity.History" >
    <id column="h_id" property="hId" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="items_id" property="itemsId" jdbcType="INTEGER" />
    <result column="TIME" property="time" jdbcType="TIMESTAMP" />
    <result column="start_time" property="startTime" jdbcType="TIMESTAMP" />
    <result column="end_time" property="endTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from history
    where h_id = #{hId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.yidu.base.allEntity.History" >
    <selectKey resultType="java.lang.Integer" keyProperty="hId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into history (user_id, items_id, TIME, 
      start_time, end_time)
    values (#{userId,jdbcType=INTEGER}, #{itemsId,jdbcType=INTEGER}, #{time,jdbcType=TIMESTAMP}, 
      #{startTime,jdbcType=TIMESTAMP}, #{endTime,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.yidu.base.allEntity.History" >
    update history
    set user_id = #{userId,jdbcType=INTEGER},
      items_id = #{itemsId,jdbcType=INTEGER},
      TIME = #{time,jdbcType=TIMESTAMP},
      start_time = #{startTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP}
    where h_id = #{hId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select h_id, user_id, items_id, TIME, start_time, end_time
    from history
    where h_id = #{hId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select h_id, user_id, items_id, TIME, start_time, end_time
    from history
  </select>
</mapper>