<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yidu.base.allMapper.TopicMapper" >
  <resultMap id="BaseResultMap" type="com.yidu.base.allEntity.Topic" >
    <id column="topic_id" property="topicId" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="publishtime" property="publishtime" jdbcType="DATE" />
    <result column="modifytime" property="modifytime" jdbcType="DATE" />
    <result column="replycount" property="replycount" jdbcType="INTEGER" />
    <result column="clickcount" property="clickcount" jdbcType="INTEGER" />
    <result column="start_time" property="startTime" jdbcType="TIMESTAMP" />
    <result column="end_time" property="endTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from topic
    where topic_id = #{topicId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.yidu.base.allEntity.Topic" >
    <selectKey resultType="java.lang.Integer" keyProperty="topicId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into topic (title, user_id, publishtime, 
      modifytime, replycount, clickcount, 
      start_time, end_time)
    values (#{title,jdbcType=VARCHAR}, #{userId,jdbcType=INTEGER}, #{publishtime,jdbcType=DATE}, 
      #{modifytime,jdbcType=DATE}, #{replycount,jdbcType=INTEGER}, #{clickcount,jdbcType=INTEGER}, 
      #{startTime,jdbcType=TIMESTAMP}, #{endTime,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.yidu.base.allEntity.Topic" >
    update topic
    set title = #{title,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=INTEGER},
      publishtime = #{publishtime,jdbcType=DATE},
      modifytime = #{modifytime,jdbcType=DATE},
      replycount = #{replycount,jdbcType=INTEGER},
      clickcount = #{clickcount,jdbcType=INTEGER},
      start_time = #{startTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP}
    where topic_id = #{topicId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select topic_id, title, user_id, publishtime, modifytime, replycount, clickcount, 
    start_time, end_time
    from topic
    where topic_id = #{topicId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select topic_id, title, user_id, publishtime, modifytime, replycount, clickcount, 
    start_time, end_time
    from topic
  </select>
</mapper>